<div class="container">
  <% @funds.each do |fund| %>
    <h2><%= fund.name %> Fund</h2>

    <ul class="nav nav-pills" id="position-history-<%= fund.name %>" role="tablist">
      <% fund.positions.order(date: :desc).group_by { |p| p.date.year }.each do |year, positions| %>
        <li class="nav-item" role="presentation">
          <a class="nav-link <%= 'active' if year == DateTime.now.year %>" id="position-history-<%= fund.name %>-<%= year %>-tab" data-toggle="tab" href="#position-history-<%= fund.name %>-<%= year %>" role="tab" aria-controls="position-history-<%= fund.name %>-<%= year %>"><%= year %></a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content" id="position-history-<%= fund.name %>-content">
      <% fund.positions.order(date: :desc).group_by { |p| p.date.year }.each do |year, positions| %>
        <div class="tab-pane <%= 'active' if year == DateTime.now.year %>" id="position-history-<%= fund.name %>-<%= year %>" role="tabpanel" aria-labelledby="position-history-<%= fund.name %>-<%= year %>-tab">
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>10-month End Price</th>
                <th>10-month SMA</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% positions.each do |position| %>
                <tr>
                  <td><%= position.date.strftime("%b %-d, %Y") %></td>
                  <td><%= position.tenth_month_price %></td>
                  <td><%= position.ten_month_average %></td>
                  <td><%= position.invested ? "Invested" : "Moved to G" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>

  <% end %>
</div>
