<div class="container">
  {{#each fundsView}}
    <h2>{{this.name}} Fund</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>10-month End Price</th>
          <th>10-month SMA</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.positions}}
          <tr>
            <td>{{formatDate this.date "MMM D, YYYY"}}</td>
            <td>{{formatCurrency this.tenthMonthPrice}}</td>
            <td>{{formatCurrency this.tenMonthAverage}}</td>
            <td>{{#if this.invested}}Invested{{else}}Moved to G{{/if}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/each}}
</div>
