<div class="container">
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <% @funds.each do |f| %>
        <div class="card text-xs-center fund-card">
          <h2 class="card-header"><b><%= f.fund %></b> Fund</h3>
          <div class="card-block">
            <% if f.fund == "C" %><p class="card-text">U.S. large cap fund</p><% end %>
            <% if f.fund == "S" %><p class="card-text">U.S. small/medium cap fund</p><% end %>
            <% if f.fund == "I" %><p class="card-text">International stock fund</p><% end %>
            <% if f.invested %>
              <img class="fund-status-icon" src="/images/in.svg">
              <p class="card-text"><strong>Invested</strong> as of <%= f.date.strftime("%b %-d, %Y") %></p>
            <% else %>
              <img class="fund-status-icon" src="/images/out.svg">
              <p class="card-text"><strong>Moved to G Fund</strong> as of <%= f.date.strftime("%b %-d, %Y") %></p>
            <% end %>
            <hr>
            <div class="row details">
              <div class="col-lg-6">
                <div class="details-price">
                  <div>Price</div>
                  <div class="details-price-amount"><%= "$%5.4f" % f.tenth_month_price %></div>
                  <div><small class="text-muted">(<%= f.tenth_month_price_date.strftime("%b %-d, %Y") %>)</small></div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="details-sma">
                  <div>10-month SMA</div>
                  <div class="details-sma-amount"><%= "$%5.4f" % f.ten_month_average %></div>
                  <div><small class="text-muted">(<%= f.tenth_month_price_date.months_ago(9).strftime("%b %Y") %> - <%= f.tenth_month_price_date.strftime("%b %Y") %>)</small></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <section id="about">
    <h2>How it works</h2>
    <p>This is a TSP investment model based on Mebane Faber's paper, <i><a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=962461">A Quantitative Approach to Tactical Asset Allocation</a></i>. Faber describes an investment system that is based on comparing the current price of a fund to the 10-month simple moving average (SMA) of that fund, and making a buy/sell decision based on that comparison.</p>
    <p>Applied to the TSP, this means we watch the C, S, and I funds. If the price of any of these funds drops below its 10-month SMA, we move money from that fund to the G fund. Conversely, if a fund's price rises above its 10-month SMA, we move money from the G fund to that stock fund. You decide how much of your investment you want to allocate to each fund. The F fund and the L funds are not a part of this model.</p>
    <p>Faber's model only looks at the prices once a month after the final trading day of the month. This is a perfect fit for the TSP since we are only allowed one trade per month plus one move to the G Fund per month.</p>
    <p>If you are considering following this model for your investments, there are a few things you should keep in mind:</p>
    <ul>
      <li>Everyone's investment needs are different. This model may or may not fit your needs.</li>
      <li>I am just a human pounding away at a keyboard. Humans make mistakes. You should verify the numbers for yourself rather than relying on my calculations.</li>
    </ul>
  </section>
</div>
