<div class="container">
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <% @funds.each do |f| %>
        <div class="card text-xs-center fund-card">
          <h2 class="card-header"><b><%= f.fund %></b> Fund</h3>
          <div class="card-block">
            <% if f.fund == "C" %><p class="card-text">U.S. large cap fund</p><% end %>
            <% if f.fund == "S" %><p class="card-text">U.S. small/medium cap fund</p><% end %>
            <% if f.fund == "I" %><p class="card-text">International stock fund</p><% end %>
            <% if f.invested %>
              <img class="fund-status-icon" src="/images/in.svg">
              <p class="card-text">IN as of <%= f.date.strftime("%b %-d, %Y") %></p>
            <% else %>
              <img class="fund-status-icon" src="/images/out.svg">
              <p class="card-text">OUT as of <%= f.date.strftime("%b %-d, %Y") %></p>
            <% end %>
            <p class="card-text">
              <small class="text-muted">
                Price: <b><%= "$%5.4f" % f.tenth_month_price %></b> (at end of 10 month period)
                <br>
                10-month SMA: <b><%= "$%5.4f" % f.ten_month_average %></b>
              </small>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
