<div class="container">
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <% @funds.each do |f| %>
        <div class="card text-xs-center fund-card">
          <h2 class="card-header"><b><%= f.fund %></b> Fund</h3>
          <div class="card-block">
            <% if f.fund == "C" %><p class="card-text">U.S. large cap fund</p><% end %>
            <% if f.fund == "S" %><p class="card-text">U.S. small/medium cap fund</p><% end %>
            <% if f.fund == "I" %><p class="card-text">International stock fund</p><% end %>
            <% if f.invested %>
              <img class="fund-status-icon" src="/images/in.svg">
              <p class="card-text"><strong>Invested</strong> as of <%= f.date.strftime("%b %-d, %Y") %></p>
            <% else %>
              <img class="fund-status-icon" src="/images/out.svg">
              <p class="card-text"><strong>Moved to G Fund</strong> as of <%= f.date.strftime("%b %-d, %Y") %></p>
            <% end %>
            <hr>
            <div class="row details">
              <div class="col-lg-6">
                <div class="details-price">
                  <div>Price</div>
                  <div class="details-price-amount"><%= "$%5.4f" % f.tenth_month_price %></div>
                  <div><small class="text-muted">(<%= f.tenth_month_price_date.strftime("%b %-d, %Y") %>)</small></div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="details-sma">
                  <div>10-month SMA</div>
                  <div class="details-sma-amount"><%= "$%5.4f" % f.ten_month_average %></div>
                  <div><small class="text-muted">(<%= f.tenth_month_price_date.months_ago(9).strftime("%b %Y") %> - <%= f.tenth_month_price_date.strftime("%b %Y") %>)</small></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
